<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:theme="@style/Theme.BasharShop"
        android:label="Bashar Shop"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".AdminActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
